fastapi==0.111.0
uvicorn[standard]==0.23.1
SQLAlchemy[asyncio]==2.0.48
psycopg2-binary==2.9.11
google-genai==1.68.0
python-dotenv==1.0.1
passlib
passlib[bcrypt]
argon2-cffi
reportlab
PyJWT
gunicorn
pgvector==0.1.4
PyMuPDF==1.24.9
groq
redis